main {
    max-width: 900px;
}

aside {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    background-color: #f2f2f2;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid black;
    text-align: center;
}